#
# Configuration file for Digitale Collectie ErfGeo Enrichment service
#

erfgeoEnrich.portNumber = 16080
erfgeoEnrich.index.portNumber = 17080
erfgeoEnrich.index.lucenePortNumber = 17180
erfgeoEnrich.index.numeratePortNumber = 17280

oaiRepositoryName = Digitale Collectie ErfGeo enrichments
oaiAdminEmail = beheer@seecr.nl

digitaleCollectie.host = 127.0.0.1
digitaleCollectie.port = 8080
digitaleCollectie.apikey = example_b20caa3c-aa5c-4923-b243-e3439611d585

erfgeo.searchApiBaseUrl = https://api.histograph.io/search
