#
# Configuration file for Digitale Collectie ErfGeo Enrichment service
#

portNumber = 16080

oaiRepositoryName = Digitale Collectie ErfGeo enrichments
oaiAdminEmail = beheer@seecr.nl

digitaleCollectie.host = 127.0.0.1
digitaleCollectie.port = 8080

erfgeo.searchApiBaseUrl = https://api.erfgeo.nl/search
